.settings{
    display: flex;
}
.settingsWrapper{
    flex: 9;
    padding: 20px;
}
.settingsTitle{
    display: flex;
    align-items: center;
    justify-content: space-between;    
}
.settingUpdateTitle{
    font-size: 30px;
    margin-bottom: 20px;
    color: lightcoral;
}
.settingsDeleteTitle{
    font-size: 15px;
    color: red;
    cursor: pointer;
}
.settingsForm{
    display: flex;
    flex-direction: column;
}
.settingsPP{
    display: flex;
    margin: 10px 0;
    align-items: center;
}
.settingsPP > img {
    width: 70px;
    height: 70px;
    border-radius: 20px;
    object-fit: cover;
}
.settingsPPIcon{
    width: 25px;
    height: 25px;
    background-color: lightcoral;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    cursor: pointer;
}
.settingsForm > label {
    font-size: 20px;
    margin-top: 20px;
}
.settingsForm > input {
    margin: 10px 0;
    height: 30px;
    color: gray;
    border: none;
    border-bottom: 1px solid lightgray;
}
.settingsSubmit{
    margin-top: 20px;
    width: 150px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: teal;
    align-self: center;
    cursor: pointer;
}