.write{
    padding-top: 50px;
}
.writeForm{
    position: relative;
}
.writeFormGroup{
    margin-left: 150px;
    display: flex;
    align-items: center;
    /* justify-content: center; */
}
.writeIcon{
    width: 22px;
    height: 22px;
    border: 1px solid;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(160, 157, 157);
    font-size: 20px;
    cursor: pointer;
}
.writeInput{
    font-size: 30px;
    width: 70vw;
    padding: 20px;
    border: none;
}
.writeText{
    height: 100vh;
}
.writeInput:focus{
 outline: none;   
}
.writeSubmit{
    position: absolute;
    top: 20px;
    right: 50px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: teal;
    cursor: pointer;
    font-size: 16px;
}
.writeImg{
    margin-left: 150px;
    width: 70vw;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
}